*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

span{
    color: rgb(191, 155, 155);
}

:root{
    --main-color: rgb(1, 0, 0);
    /*--secondary-background: linear-gradient(blue,red);*/
    --text-color: rgb(243, 241, 241);
    --input-color:#9EA93F;
    --placehold-color: #00204a;
    
}


.Title{
    /*background-color: var(--main-color);*/
    color: var(--text-color);
    font-size: 45px ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    border-radius: 5px;
    background:linear-gradient(#1c4d16, #8da542);

}

.Title p{
    animation: slide;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
}


@keyframes slide{
    from{
        transform: translateY(-200px);
        
    } 

    to{
        transition: translateY(0px);
    }
}

.Main_Body{
    padding-left: 25px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    height: 30vw;
    background:linear-gradient( #8da542, #1c4d16);
    
    
}

.Main_Body p{
    font-size: 24px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 50% 50%  ;
}

.Main_Body ::placeholder{
    color: var(--placehold-color) ;
    font-size: 25px;
}

.Main_Body input{
 background-color: var(--input-color);
 height: 4vw;
 width: 20vw;
 border-radius: 5px;
 border-color: var(--secondary-color);
 border-width: 5px;
 font-size: 40px;
}

.process{
    display: flex;
    padding-left: 3vw;
    background-color: black;
    width: 30vw;
    border-radius: 15px;
    color: white;
}

.process p{
padding-top: 25px;
padding-bottom: 25px;
}

.result{
    margin-left: 30vw;
    background-color: var(--main-color);
    width: 20vw;
    height: 20vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.result p{
    font-size: 65px;
    color: var(--text-color);
}

.Main_Body button{
    display: flex;
    margin-top: 5px;
    justify-content: center;
    height: 4vw;
    width: 8vw;
    border-radius: 5px;
    background-color: black;
    color: rgb(191, 155, 155);
    align-items: center;
    font-size: 40px;
    box-shadow: 0 0 4rem #70e75b;
    font-size: 25px;
    
}


.Main_Body button:hover{
    cursor: pointer;
}


.random_num{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    color: black;
}


.Footer{
    background-color: var(--main-color);
    height: 11.3vw;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    background:linear-gradient(#1c4d16, #8da542);
}

.Footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
    color: var(--text-color);
    font-size: 20px;

}